build/
*.obj
*.lib
*.exe
*.pdb
*.ilk
*.exp
*.o
*.a
*.so
*.dylib
*.ppm
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
.vs/
.vscode/
*.user

# Test data (large video files)
testdata/

# Temp files
testdata/_*
__pycache__/
*.pyc
